STRING_SESSION = AQCrzuGy0aluI5_kqxlQwMrPL9mM88AQiQDnwqsJdwEmphcP_NB2fUzEiQ1Q-PYIXb26yo5oQOQCs3E0rCAKZ7LEgIMbP1wKX6kPgba1ukEkLMNQyu61wdpW1K9J6f-ApBNFc7eo9P__Z1dkTYZy9ZHwn5pvWHlC-G0IWLB-ghREkZ8mvOwHXMYXM_cJY5eesXnfLsgV96NNaTjgsSgSQaoKjsZj7YAPrB_a43ktUUL9J1rGE1Gm4dXWGjn0Lg_pUhCoQ91IhbDGp1kl8C_0eux9fqr6q08KKgvwbDBlLc27HWe-_OKxbMOU3Sigd1bnoRHuif4jHRiW_S41t9AGsJulAAAAATFU01gA
API_ID = 16602927
API_HASH = 4f2a0b23c96dda243d9c902e39e07740
BOT_TOKEN = 5660986269:AAEfV-EBm2vh788J0_3VWfEwvPuCC2V2XrU
MONGO_DB_URI = mongodb+srv://Pihu02938:ieZbzufQo9Q3jQow@pihumusicbot.tirbhpy.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001844284611
MUSIC_BOT_NAME = Jui Music
OWNER_ID = 5670998957 5271654056 1352969822
PING_IMG_URL = https://te.legra.ph/file/734a0841ea62338147d04.jpg
START_IMG_URL = https://te.legra.ph/file/0b6f349a03f829da8e675.jpg
SPOTIFY_CLIENT_ID = 6d052c4f72914aad8c5b49db940b583f
SPOTIFY_CLIENT_SECRET = 9da15c5563294652b2f626d0c043aa4a
SERVER_PLAYLIST_LIMIT = 100
DURATION_LIMIT = 180
