STRING_SESSION = AQAZz2dLCaTzKinqhXOd1P-zpFGHzH-glWu8qi0Ung9guCjNg_4pcUsFEUZa5ljo-g_vTmMJW-bkFeLoMfvfzwj8cTH0OfwgDF1ngx40LrtUftey4D04AgU_z3YzLcsrP2cpGYiaNiYz1Gw8qHR8vBkl5r5nqresDHJVKddw_VpTNVUkIVsayX8H5yrOpcMr9crfsn5Mh_335u5lE3n4HOjcYmdiGNb_HItvvCrLNYjbqsYd849o6-2X7WUFyfLlrBcV7xC0RwHTB0-umbQhqycSSt6AfCbINbcRLLqG-obAZDp9gecyB7IimrH_knt7PXMY4pz7uR3PpCD7dbiFEmacAAAAATFU01gA
API_ID = 16602927
API_HASH = 4f2a0b23c96dda243d9c902e39e07740
BOT_TOKEN = 5660986269:AAEfV-EBm2vh788J0_3VWfEwvPuCC2V2XrU
MONGO_DB_URI = mongodb+srv://Pihu02938:ieZbzufQo9Q3jQow@pihumusicbot.tirbhpy.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001844284611
MUSIC_BOT_NAME = Jui Music
OWNER_ID = 5670998957 5271654056 1352969822
PING_IMG_URL = https://te.legra.ph/file/734a0841ea62338147d04.jpg
START_IMG_URL = https://te.legra.ph/file/0b6f349a03f829da8e675.jpg
SERVER_PLAYLIST_LIMIT = 100
DURATION_LIMIT = 300
SPOTIFY_CLIENT_ID = 6d052c4f72914aad8c5b49db940b583f
SPOTIFY_CLIENT_SECRET = 9da15c5563294652b2f626d0c043aa4a
